<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDODALD3-W3R0P-mxE1K7vk1oxSPhuGprg</string>
	<key>GCM_SENDER_ID</key>
	<string>158575287903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neverLost</string>
	<key>PROJECT_ID</key>
	<string>never-lost-d406c</string>
	<key>STORAGE_BUCKET</key>
	<string>never-lost-d406c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158575287903:ios:bbfeb842c350854894c5ea</string>
</dict>
</plist>